<!DOCTYPE html>

<html>
  <head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ url_for('static', filename='img/cs.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">
  </head>

  <body>
    <main role="main" class="container extra-bottom">
      <h1 class="mt-5">SpotifyHelpr</h1>
      <p>Current User: {{ user }}</p>
      <a href="/home">Home</a>
      <a href="/friends">Friends</a>
      <a href="/reviews">Reviews</a>
      <a href="/logout">Logout</a>
    </main>

    <div>
      <h4 class="mt-4">Recent Reviews from Friends</h4>

      <table class="friends_table">
        <thead>
          <tr>
            <th class="name">userName</th>
            <th class="num">songName</th>
            <th class="num">artist</th>
            <th class="body">body</th>
            <th class="update">rating</th>
          </tr>
        </thead>

        <tbody>
        {% for item in friend_reviews_data %}
          <tr>
            <td>{{item.userName}}</td>
            <td>{{item.name}}</td>
            <td>{{item.artist}}</td>
            <td>{{item.body}}</td>
            <td>{{item.rating}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div>
      <h4 class="mt-4">Playlists</h4>
      <div class="container">
        <!-- Add Playlist Button -->
        <div style="text-align: right;">
        <button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source="New Playlist">Add Playlist</button>
        </div>

        <div class="modal fade" id="task-modal" tabindex="-1" aria-labelledby="Label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="Label">Add a song</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="input-group mb-3">
              <span class="input-group-text" id="task-form-display">playlistName</span>
              <input type="text" class="form-control" placeholder="name of new playlist" aria-label="task-name" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id="submit-task" type="button" class="btn btn-primary">Save Changes</button>
          </div>
          </div>
        </div>
        </div>
      </div>

      <!--Playlist Table-->
      <div class="container table-responsive">
      <table class="playlist_table">
        <thead>
          <tr>
            <th class="name">playlistName</th>
            <th class="num">songCount</th>
            <th class="update">edit</th>
            <th class="update">remove</th>
          </tr>
        </thead>
        <tbody>
        {% for item in playlist_data %}
          <tr id={{item.playlistId}}>
            <td>{{item.playlistName}}</td>
            <td>{{item.songCount[0][0]}}</td>
            <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal" data-bs-target="#task-modal" data-source={{item.playlistId}} data-content="{{item.task}}"><i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>
            <td><button class="btn btn-outline-secondary btn-sm remove" data-source={{item.playlistId}} type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
    </div>

    <div class="playlist_content_container">
      <p id="playlist_content"></p>
    </div>

    <h4 class="mt-4">Songs</h4>
    <div class="container">
      <input type="text" id="searchbox" placeholder="song name" aria-label="task-name" aria-describedby="basic-addon1">
      <p id="songlist"></p>
    </div>

    <h4 class="mt-4">Song Recomendations</h4>
    <div class="container">
      <input type="text" id="rec_searchbox" placeholder="songId" aria-label="task-name" aria-describedby="basic-addon1">
      <button id="submit-song-rec" type="button" class="btn btn-primary">Submit</button>
      <p id="song_rec_list"></p>
    </div>

  </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script/playlists.js') }}"></script>
    <script src="{{ url_for('static', filename='script/songs.js') }}"></script>

</html>
